In [35]:
#conda install pandas-datareader
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import datetime as dt
from pandas_datareader.stooq import StooqDailyReader

## Цены акций

In [2]:
start_date = dt.date(2009, 1, 7)
end_date = dt.date(2012, 1, 7)

In [1]:
tickers = ['HSBA.UK', 'BARC.UK', 'LLOY.UK', 'RBS.UK', 'BP.UK', 'RIO.UK', 'AAL.UK']

In [63]:
for ticker in tickers:
    df = StooqDailyReader(symbols=ticker, start=start_date, end=end_date).read()
    df = df.sort_index()
    df[start_date:end_date]['Close'].to_csv(ticker + '.csv', header=['Close'])

## Ставки

In [53]:
rates = pd.read_csv('rates.csv')
rates.head()

,Date,0.25,0.50,0.75,1.00,2.00,3.00,5.00,7.00,10.00,15.00
0,2009-07-06,7.93,8.84,9.59,10.20,11.65,12.15,12.24,12.09,11.89,11.70
1,2009-07-07,8.07,9.09,9.86,10.45,11.62,11.91,11.86,11.76,11.67,11.59
2,2009-07-03,7.92,8.91,9.70,10.33,11.68,12.01,11.86,11.62,11.46,11.39
3,2009-07-01,8.13,9.18,9.97,10.56,11.71,11.92,11.77,11.65,11.63,11.62
4,2009-07-08,8.08,9.04,9.80,10.38,11.61,11.95,11.95,11.87,11.81,11.74

In [49]:
rates.Dates = pd.to_datetime(rates.Dates)
rates = rates.rename(index=str, columns = {'Dates': 'Date'})
rates = rates.set_index('Date')
rates.head()

            0.25  0.50  0.75   1.00   2.00   3.00   5.00   7.00  10.00  15.00
Date
2009-07-06  7.93  8.84  9.59  10.20  11.65  12.15  12.24  12.09  11.89  11.70
2009-07-07  8.07  9.09  9.86  10.45  11.62  11.91  11.86  11.76  11.67  11.59
2009-07-03  7.92  8.91  9.70  10.33  11.68  12.01  11.86  11.62  11.46  11.39
2009-07-01  8.13  9.18  9.97  10.56  11.71  11.92  11.77  11.65  11.63  11.62
2009-07-08  8.08  9.04  9.80  10.38  11.61  11.95  11.95  11.87  11.81  11.74

In [52]:
rates.to_csv('rates.csv')

## Курс

In [28]:
fx = StooqDailyReader(symbols='rubgbp', start=start_date, end=end_date).read()
fx = fx.sort_index()
fx = fx[start_date:end_date]['Close']
fx.to_csv('rubgbp.csv', header=['Close'])